.brandView {
    background: #fff;
    margin: 20px 0;
    padding-top: 10px;
}
.brandImageArea {
    display: flex;
    flex-direction: row;
    padding: 0 20px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brandItemView {
    background: #f5fcfc;
    padding-top: 20px;
    width: 49%;
    height: 306px;
    position: relative;
    margin-bottom: 20px;
}
.brandTitle {
    color:#333333;
    font-size:28px;
    line-height:28px;
    text-align: center;
}
.brandListView {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.brandTagView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.priceTxt {
    color:#999999;
    font-size:24px;
    line-height:38px;
}
.itemTag {
    margin-left:10px;
    padding: 0 10px;
    height:38px;
    color:#ffffff;
    font-size:24px;
    font-weight:200;
    line-height:38px;
    background:#ccb496;
    border-radius:2px;
}
.brandItemIcon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
