.popularArea {
    background: #fff;
}
.popularView {
    padding: 0 25px 25px;
    margin-bottom: 20px;
}
.popularContent {
    background: #fdefdf;
    display: flex;
    flex-direction: row;
}
.popularIcon {
    width: 280px;
    height: 280px;
    margin-right: 20px;
}
.popularTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contentDd {
    color:#000000;
    font-size:28px;
    font-weight:bold;
    line-height:28px;
    margin: 15px 0 25px;
}
.contentdt {
    color:#999999;
    font-size:24px;
    line-height:24px;
    margin-bottom: 30px;
}
.pprice {
    color:#ab2b2b;
    font-size:24px;
    line-height:24px;
}
.listView {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itemView {
    width: 31%;
}
.itemIcon {
    width: 100%;
    height: 218px;
    background: #fafafa;
}
.itemPriceTxt {
    color:#333333;
    font-size:24px;
    margin:10px 0 0;
}
.limitOriginPrice {
    color:#ab2b2b;
    font-size:24px;
}