.homeTitleView {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 25px 35px;
    align-items: center;
}
.titleRightView {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.titleTxt {
    font-size: 26px;
    line-height: 26px;
    color: #666;
}
.homeTitleIcon {
    margin-left: 10px;
    width: 14px;
    height: 24px;
}
.titleDesc {
    font-size: 32px;
    font-weight: bold;
    color: #000;
}
.homeContentView {
    flex: 1;
    margin-left: 20px;
}