@import "../../../styles/theme.scss";
.recommend-view {
    background: #fff;
    padding: 25px;
}
.recommend-title {
    color: #000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}
.recommend-list-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recommend-list {
    width: 47%;
    margin-bottom: 40px;
}
.recommend-icon-view {
    position: relative;
}
.recommend-icon {
    width: 100%;
    height:330px;
    background:#f4f4f4;
    border-radius:4px;
}
.recommend-icon-txt {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 70px;
    line-height:  70px;
    color:#9e8962;
    font-size:24px;
    background:#f0ebe2;
    overflow:hidden;
    padding: 0 10px;
}
.recommend-desc {
    display: flex;
    flex-direction: row;
    background: #f3f3f3;
    border-radius: 35px;
    height: 70px;
    padding: 0 10px;
    align-items: center;
    margin: 10px 0 0 0;
}
.recommend-desc-icon {
    width:50px;
    height:50px;
    border-radius:25px;
    margin-right: 10px;
}
.recommend-desc-txt {
    flex: 1;
    color: #999;
    font-size: 24px;
    @include lamp-clamp(2);
}
.recommend-content-txt {
    color:#333333;
    font-size:28px;
    line-height:40px;
    margin: 10px 0;
}
.recommend-price {
    color:#ab2b2b;
    font-size:32px;
    line-height:48px;
}
.recommend-origin-price {
    margin-left: 14px;
    color:#999999;
    font-size: 30px;
    font-weight: 200;
    line-height: 48px;
    text-decoration: line-through;
}