.pinView {
    background-color: #ffffff;
}
.pinIconView {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pinIcon {
    width:90%;
    height: 160px;
    margin: 0 auto 30px;
    border-radius: 100px;
}
.pinSwiperView {
    padding: 0 25px;
    height: 260px;
}
.pinSwiperIcon {
    width: 90%;
    height: 160px;
    border-radius: 10px;
    margin: 0 auto;
}
.pinSwiperItem {
    display: flex;
    flex-direction: row;
}
.pinList {
    flex: 1;
    position: relative;
}
.pinPriceView {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pinPrice {
    font-size: 24px;
    line-height: 24px;
    color: rgb(178, 42, 49);
    margin:0 10px 0 12px;
    position: relative;
}
.pinOriginPrice {
    color: #cccccc;
    text-decoration: line-through;
    font-size: 24px;
    line-height: 24px;
    text-decoration-color: #cccccc;
}
.pinNumView {
    position: absolute;
    background-color: #ff7d05;
    top: 0;
    left: 10px;
    padding: 3px 8px;
    border-radius: 2px;
}
.pinNumTxt {
    color: #ffffff;
    font-size: 16px;
}